<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437184733297-fdrnjf0bbmasqq8p6daimp33633bil71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437184733297-fdrnjf0bbmasqq8p6daimp33633bil71</string>
	<key>API_KEY</key>
	<string>AIzaSyA4B0g2BPJb7dguiqoRXnupK2K0J2EYgX0</string>
	<key>GCM_SENDER_ID</key>
	<string>437184733297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lee.sam.DemoFirebase</string>
	<key>PROJECT_ID</key>
	<string>demofirebase-6c731</string>
	<key>STORAGE_BUCKET</key>
	<string>demofirebase-6c731.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437184733297:ios:793589a92ff8296f68fbd0</string>
</dict>
</plist>